<!DOCTYPE html>
<html>
<head>
  <title>Serial Port Error</title>
  <meta name="viewport" content="width=device-width" />
  <meta name="robots" content="noindex,nofollow" />
</head>
<body>
	<h1><%= message %></h1>
	<h2><%= status %></h2>
	<pre><%= stack %></pre>
</body>
</html>